<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Motivator</title>
  <style>
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
    }
    .content {
      background-image:  url(<%= @image["url"] %>);
      background-repeat: no-repeat, no-repeat;
      background-size: cover;
      height: 90vh;
    }
    .content-inner {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      color: white;
      font-weight: bold;
    }
    .btn-download {
      background: #0c8bd7;
      color: white;
      padding: 1%;
      border-radius: 6px
    }
    .btn-download:hover {
      background: #096095;

    }
  </style>
</head>
<body>
  <div id='image_div' class="content">
    <div class="content-inner">
      <p><%= @phrase["frase"] %> - <%= @phrase["autor"] %></p>
    </div>
  </div>
  <button id="downloadButton" class="btn-download">Baixar Imagem</button>
  <script src="assets/utils.js" />
  <script src="assets/html2canvas.js" />
</body>
</html>
